.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.container {
  display: flex;
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }

  .arrow {
    display: none;
  }

  .code {
    display: none;
  }
}

.container > div {
  min-width: 50%;
}

.code {
  margin-top: 50px;
  border-radius: 8px;
  height: 75vh;
  margin-bottom: 100px;
  box-shadow: 0px 11px 18px #00000069;
  object-fit: cover;
  object-position: left;
}

.intro {
  padding: 35px;
}

.intro h1 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 55px;
}

.arrow {
  margin-left: 100%;
  transform: translateX(calc(-100% + 30px));
}

[data-theme='dark'] .arrow {
  filter: invert(1);
}

.buttons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 20px 30px;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 8px;
}

.button--primary {
  background-color: var(--ifm-color-primary);
  color: white;
}

.text {
  margin-bottom: 60px;
}

.page nav {
  position: unset;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.status span {
  border: 1px solid var(--ifm-color-primary);
  padding: 0 1rem;
  border-radius: 15px;
  font-size: 0.85rem;
}

.status span::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ed9836;
  margin-right: 0.5rem;
}

