.editor {}

.editor > pre {
  padding: var(--ifm-pre-padding) !important;
  font-size: 15.2px !important;
  border-radius: 0px 0px 8px 8px !important;
}

.code {
  border: none;
  background: none;
  padding: 0;
}

.container {
  border: 1px solid #474747;
  border-radius: 8px 8px 0 0 !important;
  overflow: hidden;
}
